Source: ros-iron-system-modes-examples
Section: misc
Priority: optional
Maintainer: Arne Nordmann <arne.nordmann@bosch.com>
Build-Depends: debhelper (>= 9.0.0), ros-iron-ament-cmake, ros-iron-ament-cmake-cppcheck <!nocheck>, ros-iron-ament-cmake-cpplint <!nocheck>, ros-iron-ament-cmake-flake8 <!nocheck>, ros-iron-ament-cmake-gmock <!nocheck>, ros-iron-ament-cmake-gtest <!nocheck>, ros-iron-ament-cmake-pep257 <!nocheck>, ros-iron-ament-cmake-uncrustify <!nocheck>, ros-iron-ament-lint-auto <!nocheck>, ros-iron-rclcpp, ros-iron-rclcpp-lifecycle, ros-iron-system-modes, ros-iron-system-modes-msgs, ros-iron-ros-workspace
Homepage: https://micro.ros.org/docs/concepts/client_library/lifecycle_and_system_modes/
Standards-Version: 3.9.2

Package: ros-iron-system-modes-examples
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-iron-launch, ros-iron-launch-system-modes, ros-iron-rclcpp, ros-iron-rclcpp-lifecycle, ros-iron-ros2launch, ros-iron-system-modes, ros-iron-system-modes-msgs, ros-iron-ros-workspace
Description: Example systems and according launch files for the system_modes package.
