Source: ros-galactic-system-modes
Section: misc
Priority: optional
Maintainer: Arne Nordmann <arne.nordmann@bosch.com>
Build-Depends: debhelper (>= 9.0.0), ros-galactic-ament-cmake, ros-galactic-ament-cmake-cppcheck <!nocheck>, ros-galactic-ament-cmake-cpplint <!nocheck>, ros-galactic-ament-cmake-flake8 <!nocheck>, ros-galactic-ament-cmake-gmock <!nocheck>, ros-galactic-ament-cmake-gtest <!nocheck>, ros-galactic-ament-cmake-pep257 <!nocheck>, ros-galactic-ament-cmake-uncrustify <!nocheck>, ros-galactic-ament-index-python <!nocheck>, ros-galactic-ament-lint-auto <!nocheck>, ros-galactic-builtin-interfaces, ros-galactic-launch-testing-ament-cmake <!nocheck>, ros-galactic-launch-testing-ros <!nocheck>, ros-galactic-rclcpp, ros-galactic-rclcpp-lifecycle, ros-galactic-ros2run <!nocheck>, ros-galactic-system-modes-msgs, ros-galactic-ros-workspace
Homepage: https://micro.ros.org/docs/concepts/client_library/lifecycle_and_system_modes/
Standards-Version: 3.9.2

Package: ros-galactic-system-modes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-galactic-builtin-interfaces, ros-galactic-launch-ros, ros-galactic-rclcpp, ros-galactic-rclcpp-lifecycle, ros-galactic-system-modes-msgs, ros-galactic-ros-workspace
Description: The system modes concept assumes that a robotics system is built from components with a lifecycle.
 It adds a notion of (sub-)systems, hiararchically grouping these nodes, as well as a notion of modes that determine the configuration of these nodes and (sub-)systems in terms of their parameter values.
